__pycache__
*.egg
*.egg-info
*.log

# pytest
.coverage*
.hypothesis
.mypy_cache
.pytest_cache
pytest_session.txt
tests/.tests
tests/measurements/*.json
version.py

# editors
.vscode

# ts_pre_commit_conf
.pre-commit-config.yaml
.flake8
.isort.cfg
.mypy.ini
.clang-format
.ruff.toml
